QMainWindow {
    background-color: #e4ddf4;
}

QPushButton {
    color: #fff;
    border-radius: 16px;
    padding: 10px 20px;
    margin-left: 20px;
}

QPushButton#start {
    background-color: #47c2a7;
}

QPushButton#start:hover {
    background-color: #319680;
}

QPushButton#pause {
    background-color: #bb85f1;
}

QPushButton#pause:hover {
    background-color: #9759d4;
}

QLabel {
    border-radius: 5px;
    background-color: #fff;
    padding: 5px;
}

QComboBox {
    border: 1px solid #6a5d97;
    border-radius: 12px;
    padding: 8px 16px;
}

QComboBox::drop-down {
    width: 25px;
    border: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 3px;
}

QComboBox::down-arrow {
    width: 25px;
    height: 25px;
}